.normal {
	background-color: #75515b;
}
.fighting {
	background-color: #994025;
}
.flying {
	background-color: #4a677d;
}
.poison {
	background-color: #5e2d88;
}
.ground {
	background-color: #a7702c;
}
.rock {
	background-color: #48180b;
}
.bug {
	background-color: #1c4b27;
}
.ghost {
	background-color: #1c4b27;
}
.steel {
	background-color: #5e766d;
}
.fire {
	background-color: #ab1f23;
}
.water {
	background-color: #1552e2;
}
.grass {
	background-color: #127c3d;
}
.electric {
	background-color: #e3e429;
}
.psychic {
	background-color: #a6296c;
}
.ice {
	background-color: #86d2f5;
}
.dragon {
	background-color: #448b95;
}
.dark {
	background-color: #040706;
}
.fairy {
	background-color: #971944;
}
.unknown {
	background-color: #ff99f1;
}
.shadow {
	background-color: #a8a8a8;
}

.type-item {
	color: #fff;
	padding: 6px 12px;
	border-radius: 8px;
}
