.searchForm {
	display: flex;
	gap: 8px;
	input {
		border-radius: 8px;
		border: 1px solid $secondary-color;
		&:active,
		&:focus {
			// border-width: 2px;
			outline: 2px solid $main-red;
		}
	}
}
