.searchForm {
 display: flex;
 gap: 8px;
 input {
  border-radius: 8px;
  width: 150px;
  border: 1px solid $secondary-color;
  &:active,
  &:focus {
   outline: 1px solid $main-red;
  }
 }
}
